* {
  margin: 0;
}

/*-- from w3 -- */
/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}

.w3-container, .w3-container-h1{padding:0.01em 16px; }
.w3-container{margin-left:-16px; margin-right:-16px;} /* my extras, to counteract main */
.w3-container:after,
.w3-container:before,
.w3-container-h1:after,
.w3-container-h1:before
{content:"";display:table;clear:both}

.w3-card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.w3-card-4 {
	margin-bottom: 15px;
}	
.w3-center{text-align:center!important}

/* these are used in the top menu of each page */
.w3-bar{width:100%;overflow:hidden}
.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-button{white-space:normal}
.w3-bar:before,
.w3-bar:after{content:"";display:table;clear:both}

.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none} 
.w3-button{width:100%;text-align:left;padding:8px 16px} 
/*.w3-button:hover{color:#000!important;background-color:#ccc!important}*/
.w3-button:hover{color:#000!important;background-color:#d3e39c!important} /* lighter version of metro light green  */

/* h2{font-size:30px} h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}*/
h1{font-size:36px}h2{font-size:22px}h3{font-size:18px}h4{font-size:18px}h5{font-size:16px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Comic Sans", "Comic Sans MS", "Comic Neue",sans-serif;font-weight:400;margin:10px 0}


/*------ redefinitions of tags-----------------------*/
/*------ show more/ show less -----------------------*/
html{
  max-width:1100px;
  max-width:1000px;
  margin: auto;
}
	
p {
   margin: 10px;
}

   
header{
	background-size:cover;
	background-image:url("../images/header-esther-scroll.jpg");
}	
header >h1{
   text-align:center;	
   color:white;
   background-color:#b91d47;  /* = w3-metro-dark-red */
   font-size:50px;
   margin-left:60px;
   margin-right:60px;
   margin-top:65px;
   margin-bottom:65px;
}
footer {
   background-color: #b91d47;  /* = w3-metro-dark-red */
   color: white;
   padding: 30px;
}	
nav {
  margin-bottom:20px; /* required to make the top menu shadow visible */
	/* same size as w3-large */
  font-size:18px;
  font-family: cursive;
}
main{
  /* w3-container */
  padding:0.01em 16px /* top/bottom right/left */
}


summary{
  list-style-type:none; /* get rid of default arrow pointer */
}	
summary  {
  cursor: pointer;
  display: inline;
  
} 
/*
summary::-webkit-details-marker {
  display: none
}
*/
summary:before {
  /*border-radius: 5px;*/
 /* text-align: center;*/
  color: black;
  float: left;
 /* width: 20px;*/
  padding: 0;
  
  /* specs if using +/- */
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: -5px;
  
  /* specs if using triangles */
  font-size: 1.0em;
  margin-right: 10px;
  margin-top: 0px;
  
  content: "+"; 
  content: "\25BD"; /* downward triangle unfilled */
  content: "\25BC"; /* downward triangle filled */
}

details[open] summary:before {
  content: "-";
  content: "\2212"; /* minus sign */
  content: "\25B3"; /* upward triangle unfilled */
  content: "\25B2"; /* upward triangle filled */
}

details {
   background-color: white;
   border-style:solid;
   border-color:#f2f2f2;
   border-width:medium;
   margin: 10px ;
}
	
details > div {
   margin-left:25px;
   margin-right:25px;
   padding-bottom:5px;
}	

/* ---- horizontal line dividing sections--------*/
hr {
  display: block;
  margin-top: 1em;  /* default is 0.5 */
  margin-bottom: 1em;/* default is 0.5 */
  /*margin-left: auto;
  margin-right: auto;*/
  border-width: 1px;
  border-style: solid;
  border-color: DarkSeaGreen;
  border-color: DarkOrange;
  border-color: DarkGray;
}


/*--- colours -----------*/
/*-----------------------*/ 
.main-color{
   background-color:#FAF9F6;  /*off-white */
   background-color: white;
 }	
.menu-selected-color{
	/* navigation menu at top of page */
 /* background-color: #ffc107; /* w3-amber */
  background-color: #ea7b98; /* lighter version of metro-dark-red #b91d47 */
}

.consonant-color{
 /* background-color: #87CEEB; /* w3 light blue */
  background-color: #eff4ff; /* metro light blue */
}
.consonant-color2{
	/* background for consonant extras in alefbet*/
	background-color:#e6eeff;
}
	
.vowel-color{
  background-color:#ffffcc;  /* w3-yellow */
}
.vowel-color2 {
	/* for use when background is yellow */
   background-color:LightSalmon;
     background-color:Gold;
	 background-color:Khaki;

}   
.vocab-color {
   background-color:#f1f1f1; /* w3-light-gray */
   background-color:#FAF9F6;  /*off-white */
   background-color:#ffe6e6; /* pale pink */
}
.alefbet-exercises-color{
   background-color:LightYellow;
}  

.alefbet-plus-color{
   background-color:AliceBlue;
}
	
.flex-container-arrow-selected {
	/* arrow indicating start playing sounds */
	color:red;
}
.flex-draggable:hover{
	/*background-color:red;*/
    background-color: #d3e39c; /* lighter version of metro light green */
}

.flex-drag-drop-droppable{
  background-color: yellow;
  /* border-style: solid; */
}

/*------ emphasised text -----------------------*/
.text-border{
	border-style:solid;
	border-color:red;
	/* padding:0px 5px;*/ /* top/bottom right/left */
	padding:0px 5px 2px 5px; /* top right bottom left*/
	/*white-space:nowrap;*/
}
.highlighted-letter{
	/* only used in alefbet final letters */
   background-color:white;
}   
/*
.marked-text{
   color: red;
}
*/
.unmarked-text{
   color: DarkGray;
}
.stressed-syllable{
	color: red;
}	
.underline{
	text-decoration: underline;
}	
.dotted-border{
	border:dotted;
	border-width: 2px;
	margin-top:5px;
     background-color:white; 
}
.select-letter{
	/* used in javascript for consonant+vowel exercise */
	color:red;
}
.example {
	font-style: italic;
	color:gray;
}
.biblical-reference{
   font-style:italic;
}   

/*------ audio indication-----------------------*/
.audio-indicator{
	border-bottom:dotted;
	border-width:3px;
	border-color:blue;
}	

/*-- spacing  --*/
/*----------------------------------------------*/

   /* for <div> or <p> which needs to be max readable width and centered */
.readable1000{   
   margin: auto;
   max-width: 1000px;
}

.example-spacing{
	padding-left:15px;
	padding-right:15px;
}	

.indented-text{
   margin-left:25px;
   margin-right:25px;
} 
.padding-16{
	padding-left:16px;
	padding-right:16px;
}	
.p-left-margin{
   margin-left: 10px;
}  
/*-- hebrew fonts  --*/
/*----------------------------------------------*/
.hebrew50,
.hebrew40,
.hebrew35,
.hebrew33,
.hebrew30,
.hebrew-in-text {
   font-family:'Times New Roman';
   direction:rtl;
   line-height:30px;
   white-space:nowrap;
}

.hebrew50 {
	 /* used in alefbet consonant and vowel lists*/
   font-size:50px;
}
.hebrew40 {
	 /* used in alefbet  vowel lists*/
   font-size:40px;
}
.hebrew35 {
	 /* used in JS created flex lists*/
   font-size:35px;
}
	 
.hebrew33{
	/* used in alefbet to get list of consonants all on same line */
   font-size:33px;
}
.hebrew30{
   font-size:30px;
}

.hebrew-in-text {
   font-size:25px;
  /* font-weight:bold; */
}
 
/*-- english fonts  --*/
/*----------------------------------------------*/
.consonant-vowel{
	/* used in alefbet consonant and vowel sounds and consonant names */
	font-size:16px;
}
.consonant-vowel2{
	/* used in alefbet consonant and vowel sounds and consonant names */
	font-size:16px;
	line-height:40px;
}

.english-emphasis{
	/* like h3  */
  font-size:18px;
  font-family:cursive;
  font-weight:400;
}	

/*-- vowel image display  --*/
/*----------------------------------------------*/
.vowel-image {
   width:40px; 
   height:40px; 
   margin-bottom:-10px	
}	

/*--- flexbox right to left audio ------*/
/*--------------------------------------*/

.arrow,
.play-audio-left{
   font-family:'Times New Roman';
   font-size:45px;
   line-height:30px;
   direction:rtl;
}
    /*------ arrow indicating read right to left---*/
.arrow::after{
  content:"\21E6"; 
}	

  /*------ triangle to click for audio---*/
   /* used in alefbet vowels and alefbet cantillation */
.play-audio-left{
   color: black;
   color: gray;
   font-size:30px;
}
.play-audio-left::after{
  content:"\25C4"; 
}

/*------ ear emoji (used in alefbet-exercises to flag some exercises)---*/
/*---------------------------------------------------------------------*/
.ear{
   font-family:'Times New Roman';
   font-size:20px;
   padding: 5px 5px 3px;
}	
.ear::after{
  content:"\1F442"; 
}	


/*------ tick mark (used in syllable exercise in alefbet-exercises)---*/
/*---------------------------------------------------------------------*/
.tick{
	font-size:30px;
	font-weight: bold;
	color:green;
}	
.tick::after{
  content:"\2713"; 
}	
/*------ arrow used inline in alefbet-exercises---*/
/*---------------------------------------------------------------------*/
.arrow-inline{
   font-family:'Times New Roman';
   font-size:35px;
   line-height:5px;
}
.arrow-inline::after{
  content:"\21E6"; 
}
	

/*------------------------------------------------------------------- 
   plus and minus signs used optionally with js class showhidenextsiblingclick
   to have same effect when content hidden/shown as detail/summary 
   Must be in child element immediately after element with showhidenextsiblingclick
   
   Also used with onclick showHideJsToggle which toggles
   hidden/shown for child elements with the class js-toggle
   (must be used in a <span> )
---------------------------------------------------------------------*/
.button-plus,
.button-minus{
  color: black;
  padding: 0;
  font-family:Verdana,sans-serif;
  
  /* specs if using +/- */
  font-size:23px;
  margin:0;
  
    /* specs if using triangles */
  font-size: 1.0em;
  margin-top: 0px;
	
}	

.button-plus::before{
  content: "+";
  
  content: "\25BD"; /* downward triangle unfilled */
  content: "\25BC"; /* downward triangle filled */

}

.button-minus::before{
  content: "-";
  content: "\2212"; /* minus sign */
  
  content: "\25B3"; /* upward triangle unfilled */
  content: "\25B2"; /* upward triangle filled */

}

.button-plus:hover,
.button-minus:hover{
   cursor: pointer;
}

.button-plus-minus-tooltip{
	 padding-top: 5px;
}

	

/*------ button used in exercises to shuffle or refresh---*/
/*--------------------------------------------------------*/

.button-exercise{
   font-family:cursive;
   border:none;
   background-color: white;
	/* these are h3 */
  /*display: block;*/
  /*font-size: 1.17em;*/
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  /*font-weight: bold;*/
  white-space: nowrap;
}
.button-exercise:hover{
   text-decoration: underline;
   cursor: pointer;
}


/*-------- clickable flexbox lists - right to left---------*/
/*---------------------------------------------------------*/                                    

/* flex-container-heb used in alefbet */
/* flex-container-heb is default in javascript flexbox list */
/* flex-container-heb-cv used in alefbet for consonants and vowels lists, more vertical space between divs when wrapping */
/* flex-container-heb-with-tooltips used in alefbet-exercises 
   for words from Jewish life, people/places in Torah (more horizontal space between words)*/
.flex-container-heb,
.flex-container-heb-cv,
.flex-container-heb-with-tooltips{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  /* w3.css container property */
 /* padding:0.01em 16px 5px;*/
}
.flex-container-heb:after,
.flex-container-heb:before,
.flex-container-heb-cv:after,
.flex-container-heb-cv:before,
.flex-container-heb-with-tooltips:after,
.flex-container-heb-with-tooltips:before{
  /* w3.css container property - not sure what it does*/
  content:"";
  display:table;
  clear:both
}
  
.flex-container-heb > div {
  margin: 3px 0 3px 15px; /* top right bottom left */
  text-align: center;
 }
.flex-container-heb > div p{
	margin-top:8px;
	margin-left:0;
	margin-bottom:0;
	margin-right:0;
}	
 
.flex-container-heb-cv > div{
  margin: 10px 0 10px 10px; /* top right bottom left */
  text-align: center;
}	

.flex-container-heb-with-tooltips > div {
  margin: 3px 10px 3px 25px; /* top right bottom left */
  text-align: center;
 }

.flex-container-heb-with-tooltips > div p {
	margin-top:-5px;
}	
 
.flex-container-spacer:after{
	/* used to create extra space between items, for grouping items in the list */
   content: "  ";
   white-space: pre;   
} 

 
       /* "tooltips" */
      /*-------------------*/	   
.flex-container-heb-tooltip{
   border-style:dotted;
   border-width:2px;
   padding:5px;
}
.flex-container-heb30-tooltip{
   font-family:'Times New Roman';
   direction:rtl;
   line-height:30px;
   white-space:nowrap;
   font-size:30px;
   border-style:dotted;
   border-width:2px;
   padding:5px;
}


/* -- flexboxes - left to right (not to be used with arrow) ---*/
/*-------------------------------------------------------------*/
  /* display order is the same as html order */
  /* used for inline examples in text,lists of cantillation marks
       and cantillation marks exercise  */
.flex-container-examples ,
.flex-container-cantillation,
.flex-container-menu-items,
.flex-container-menu-items-alefbetplus{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  /* w3.css container property */
  /*padding:0.01em 16px;*/
  /*padding: 5px;*/
}
.flex-container-examples:after,
.flex-container-examples:before,
.flex-container-cantillation:after,
.flex-container-cantillation:before,
.flex-container-menu-items:after,
.flex-container-menu-items:before
{
  /* w3.css container property, don't know if needed */
  content:"";
  display:table;
  clear:both
}
.flex-container-examples > div {
  margin-top: 5px;
  margin-right: 15px; 
  margin-bottom: 5px;
  margin-left: 15px; 
  text-align: center;
  /*line-height:35px;*/
  /* margin-top:50px; */
}
.flex-container-examples > div > p {
	margin:0;
}	
.flex-container-cantillation > div {
  margin-top: 10px;
  margin-right: 10px; 
  margin-bottom: 10px;
  margin-left: 10px; 
  text-align: center;
  /*line-height:35px;*/
  /* margin-top:50px; */
}

     /* used for the menu items which can be clicked to hide /show  an exercise or other item 
	 flex-container-alefbet-exercises
	 */
.flex-container-menu-items{
   padding-bottom:5px;
   margin-bottom:15px;
}
.flex-container-menu-items > div {
/* text like h3 */
  font-family:cursive;
  font-weight:400;
  font-size:18px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 15px; 
  margin-left: 15px; 
}
.menu-item-alefbetplus-selected{
    padding:5px;
   	border:solid;
	border-width: 2px;
	background-color: white;
}	
.menu-item-alefbetplus-unselected{
    padding:5px;
   	border:dotted;
	border-width: 2px;
	background-color: LightYellow;
}	

   /* marks a div which is an exercise in alefbet-exercises
    */	  
.alefbet-exercise{
	border-style:solid;
	border-color:Gray;
	border-width:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	margin-bottom:30px;
	
	background-color:Gold;
    background-color:LightYellow;
}	

  /* marks a div which is a detail that shows when menuitem clicked in alefbet
    */	  
.alefbet-detail-item{
	border-style:solid;
	border-color:Gray;
	border-width:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	margin-bottom:30px;
}	


/* -- drag drop flexboxes - left to right---*/
/*------------------------------------------*/
.exercise-container {
  /* background-color:#f1f1f1; */
   padding: 1px;
}
.flex-container-drag-drop ,
.lesson1-flex-container-drag-drop {
  display: flex;
  flex-wrap: wrap;
  /* w3.css container property */
  /*padding:0.01em 16px;*/
  padding: 5px;
}
.flex-container-drag-drop:after,
.flex-container-drag-drop:before,
.lesson1-flex-container-drag-drop:after,
.lesson1-flex-container-drag-drop:before{
  /* w3.css container property, don't know if needed */
  content:"";
  display:table;
  clear:both
}
.flex-container-drag-drop > div {
  margin-right: 30px; 
  margin-bottom: 20px;
  text-align: center;
  line-height:35px;
  /* margin-top:50px; */
}
.lesson1-flex-container-drag-drop > div {
  margin-right: 10px; 
  margin-bottom: 5px;
  text-align: center;
  line-height:35px;
}

.flex-drag-drop-hebrew {
   font-family:'Times New Roman';
   font-size:35px;
   /*line-height:30px;*/
	padding: 0 5px 6px;
}
.flex-drag-drop-english{
  font-size:20px;
  font-family:"Comic Sans MS"; 
  padding: 4px 5px 2px;
}
	

.flex-drag-drop-content{
	/* used for individual spans within a div */
	border-style:solid;
	border-width: 1px;
	display: inline-block;
	margin-right: 2px;
}

.flex-draggable{
	cursor: pointer;
}
.flex-drag-drop-query,
.lesson1-flex-drag-drop-query{
    font-size:20px;
    font-family:"Comic Sans MS"; 
	border-style:dotted;
	display: inline-block;
}

.flex-drag-drop-query{
	width:50px;
	padding:4px;
}
.lesson1-flex-drag-drop-query{
	width:70px;
}
.flex-drag-drop-query::after,
.lesson1-flex-drag-drop-query::after{
   content:"?"; 
}





/* tables in lessons and alefbet/alefbet+ examples   */
/*------------------------------------------------*/

/*
.w3-table{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.w3-table td,
.w3-table th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,
.w3-table td:first-child{padding-left:16px}
*/

/* glasses-table has space for glasses or similar in col 1 and content in col2, no borders */
/* kametz-table used in alefbet+ in kametz a or o section, no borders */


.exercise-table,
.verb-table,
.noun-table,
.glasses-table,
.kametz-table,
.translations-table{
	border-collapse:collapse;
	display:table;
}
.exercise-table,
.verb-table,
.noun-table{
	width:100%;
}
.exercise-table td,
.exercise-table th,
.verb-table td,
.verb-table th,
.noun-table td,
.noun-table th {
    padding:8px 8px;
	display:table-cell;
	vertical-align:top;
	border-bottom:1px solid #ddd;
}
.exercise-table td:first-child,
.exercise-table th:first-child,
.verb-table td:first-child,
.verb-table th:first-child,
.noun-table td:first-child,
.noun-table th:first-child {
   padding-left:16px
}

.exercise-table td:first-child,
.exercise-table th:first-child{
   text-align:left;
   width:50%;
}
.exercise-table td:nth-child(2),
.exercise-table th:nth-child(2){
   text-align: right;
}
.verb-table td:first-child,
.verb-table th:first-child{
   width:100px;
   border-right:1px solid #ddd; /* width style color */
}
.verb-table td:nth-child(2),
.verb-table th:nth-child(2){
   text-align: left;
}

.glasses-table td:first-child{
	width: 80px;
	text-align:center;
}	

.kametz-table{
	margin-right:10px;
}	
.kametz-table tr td:first-child{
	font-size:20px;
	font-style:bold;
	vertical-align: baseline;
	text-align: center;
}
.kametz-table tr {
	margin:0;
	padding:0;
	border-bottom: 2px dotted blue;  /* width style color */
}

.translations-table td,
.translations-table th{
	display:table-cell;
 	padding-left:8px;
	padding-right:8px;
	border-bottom:1px solid #ddd;
	vertical-align:baseline;
}
.translations-table td:first-child,
.translations-table th:first-child{
   text-align:right;
   width:100px;
}
.translations-table td:nth-child(2),
.translations-table th:nth-child(2){
   text-align:left;
   vertical-align: baseline;
}

/* lesson 1 exercise specific             */
/*---------------------------------------*/
.lesson1-scrollable{
  height: 400px;
  overflow: auto;
}


/*-- modal popup for reward for finishing an exercise --*/
/*------------------------------------------------------*/
/* The Modal (background) */
.reward-modal,
.syllables-modal {
  display: none; /* Hidden by default */
  /*display: block;*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(178,255,102,0.8); /* green with opacity */
 /* background-color: rgba(255,255,153,0.8); /* yellow with opacity */
 /* background-color: rgba(102,255,255,0.8); /* blue with opacity */
 /* background-color: rgba(204,153,255,0.8); /* mauve with opacity */
 /* background-color: rgba(153,204,255,0.8); /* blue with opacity */
}
.reward-modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,102,102,0.8); /* red with opacity */
}
.syllables-modal {
 /* background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ less opacity */
}	

/* Modal Content */
.reward-modal-content,
.syllables-modal-content {
  position:relative;
  background-color: #fefefe;
  margin: auto;
  /*padding: 20px;*/
  padding: 30px;
  border: 1px solid #888;
  max-width: 450px;
  
  text-align:center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  
}
.reward-modal-content{
  font-size:36px;
  font-family: courier;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s; 
  animation-name: animatetop;
  animation-duration: 0.5s;
}
.syllables-modal-content{
  font-size:20px;
}	

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.blink {
  animation: blink 1s steps(1, end) 3;
}

@keyframes blink {
  0% {opacity: 1;  }
  50% {opacity: .25;  }
  100% {opacity: 1;  }
}


}
/*--- Close button ---------*/
/*--------------------------*/
  /* used in toc and modal popup */
.btn-close{
  color: black;
  /*float: right;*/
 /* font-size: 25px;*/
  font-weight: bold;
  
  position:absolute;
  top: 0.3em;
  right: 0.3em;
  padding: 0.3em;
  font-size: 2em;
  height: 1em;
  width: 1em;
  text-indent: 10em;
  border:0;
 
}
.btn-close:hover, .btn-close:focus{
  text-decoration: none;
  cursor: pointer;
}
.btn-close:after{
  content:"\00d7"; /* \00d7 = &times; */
  position: absolute;
  line-height: 0.5;
  top: 0.2em;
  /*left: 0.1em;*/
  right: 0.1em;
  text-indent: 0;
}	


/* ---- flagging clickable items --------*/
/*-----------------------------------------*/
.soundclick, 
.arrowclick, 
.arrowbyclassclick, 
.selectletterclick, 
.showhidenextsiblingclick,
.showhidemenuitem
{
 /* 
  these classes are used to flag clickable items 
  these classes always have event listeners added 
  soundlick: next sibling contains audio reference including relative pathname, played when clicked
  arrowclick: when click on right arrow in flexbox list, audio for each item sounds sequentially (based on soundclick) 
  letterclick: only used in consonant+vowels in alefbet-exercises, when clicked new list is created 
  showhidenextsiblingclick:  used in alefbet and alefbet-exercises instead of toc
                               when clicked, content in next <div> is shown or hidden 
*/
   cursor: pointer;
}

.showhidemenuitem:hover{
   text-decoration: underline;
}

/* this one doesn't have an event listener, used in cantillation exercise */
.clickable:hover{
   cursor:pointer;
}

/* ---- audio bar --------*/
/*--------------------------*/
audio {  height:20px;width:250px;}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* hide/show text */
/*-------------------*/

/*.visible {
	display:block;
}
*/	
.invisible{
	/* item takes up space but is not visible */
	/* used in verb tables to show where letter of root is dropped */
    visibility: hidden;
}	
/*--- this must come at end to avoid being overwritten ---*/
.hidden{
   display:none !important;
}



